/* src/Css/BrowseItems.css */

.browse-items {
  padding: 20px;
  background-color: #f7f7f7;
  font-family: 'Arial, sans-serif';
  display: flex;
  flex-direction: column;
  align-items: center; /* Center the grid container */
  overflow-y: auto; /* Allow vertical scrolling if content overflows */
  box-sizing: border-box; /* Include padding in width and height calculations */
}

.browse-items h1 {
  text-align: center;
  color: #333;
  font-size: 2rem;
  margin-bottom: 20px;
}

.select {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.select label {
  margin-right: 10px;
  font-size: 1rem;
  color: #333;
}

.select select {
  padding: 5px 10px;
  font-size: 1rem;
}

.item-list {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* 5 columns */
  gap: 20px; /* Space between items */
  max-width: 100%; /* Use full width available */
  padding: 0; /* No horizontal padding */
  box-sizing: border-box;
  margin: 0 auto; /* Center the grid container */
  overflow-x: hidden; /* Ensure no horizontal overflow */
}

.card-wrapper {
  background: #fff;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 300px; /* Fixed height to maintain consistency */
  width: 250px; /* Fixed width to maintain consistency */
  box-sizing: border-box; /* Include padding and border in width and height calculations */
}

.card-wrapper a {
  text-decoration: none;
  color: inherit;
}

.card-wrapper:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%; /* Ensure content section fills the card */
  box-sizing: border-box; /* Include padding in height calculation */
}

.card-image {
  display: flex;
  justify-content: center; /* Center the image horizontally */
  padding: 10px; /* Padding around the image */
}

.card-image img {
  max-width: 100%; /* Ensure image fits within the card */
  height: auto; /* Maintain aspect ratio */
}

.card-details {
  padding: 15px;
  text-align: center; /* Center the text horizontally */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center the text vertically */
}

.card-details h2 {
  font-size: 1.5rem;
  color: #333;
  margin: 10px 0; /* Margin to space out from other elements */
  overflow: hidden; /* Prevent overflow */
  text-overflow: ellipsis; /* Add ellipsis if text overflows */
  white-space: nowrap; /* Prevent text from wrapping */
}

.card-details p {
  font-size: 1rem;
  color: #666;
  margin-bottom: 5px;
  overflow: hidden; /* Prevent overflow */
  text-overflow: ellipsis; /* Add ellipsis if text overflows */
  white-space: nowrap; /* Prevent text from wrapping */
}
