.nav-container {
    padding: 20px;
    background-color: #f8f9fa; /* Bootstrap's light background color */
  }
  
  .navbar .nav-link {
    margin: 5px;
  }
  
  /* Button styling */
  .navbar .nav-link.btn {
    color: white;
    padding: 10px 20px; /* Adjust padding as needed */
    border-radius: 5px; /* Add border radius for rounded corners */
  }
  
  .navbar .nav-link.btn-primary {
    background-color: #007bff; /* Bootstrap's primary color */
  }
  
  .navbar .nav-link.btn-primary:hover {
    background-color: #0056b3; /* Darker shade for hover effect */
  }
  
  .search-form {
    flex-grow: 1;
  }
  
  .search-input {
    width:100%;
  }
  
  .back-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
  }
  
  .content-container {
    padding: 20px;
  }
  
  /* Add this CSS to your LandingPage.css file */
.search-form {
    display: flex;
    align-items: center; /* Align items vertically */
    border: 1px solid #ced4da; /* Match input border */
    border-radius: 5px; /* Match input border radius */
    padding: 5px; /* Match input padding */
  }
  
  .search-input {
    flex-grow: 1; /* Expand input to fill available space */
    border: none; /* Remove input border */
    outline: none; /* Remove input focus outline */
  }
  
  .search-input::placeholder {
    color: #6c757d; /* Match input placeholder color */
  }
  
  .search-button {
    border: none; /* Remove button border */
    background-color: transparent; /* Make button background transparent */
  }
  